@use "../util" as *;
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100
footer {
  text-align: center;
}
.attribution {
  /* background-color: red; */
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
